
body {
    background-color: #c7a780;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div.header {
    text-align: center;
    background-color: #f5e6d3;
    padding-bottom: 15px;
}

div.header img.logo {
    width: 120px;
    margin-top: 10px;
}

div.header h2 {
    color: #4a3b2f;
}


img.campus {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}


.nav {
    text-align: center;
    margin: 15px 0;
}

.nav a {
    text-decoration: none;
    color: #3c2f22;
    font-weight: bold;
    padding: 0 10px;
}

.nav a:hover {
    color: #7a5b3f;
}

h3 {
    color: #d30c0c;

}

p {
    text-align: justify;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid #3c2f22;
    padding: 5px;
}


footer {
    text-align: center;
    border-top: 1px solid #3c2f22;
    margin-top: 20px;
    padding: 10px 0;
}
